@import url(./feedback__name-block.css);
@import url(./feedback__card-messages.css);
@import url(./feedback__card-grid.css);
@import url(./feedback__card-buttons.css);
@import url(./feedback__main.css);

.feedback__texts {
font-family: "Montserrat", "Arial";
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 32px;
width: calc (100% - 60px)
}

@media screen and (max-width: 425px) {
    .feedback__texts {	
        font-family: "Montserrat", "Arial";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #0F1011;
    }
}

@media screen and (max-width: 320px) {
    .feedback__texts {	
        margin: 0px 0px 10px 0px
    }
}


.feedback__blocks {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 60px)
}


@media screen and (max-width: 1024px) {
    .feedback__blocks {	
        width: 750px
    }
}

@media screen and (max-width: 800px) {
    .feedback__blocks {	
        width: 750px
    }
}

@media screen and (max-width: 760px) {
    .feedback__blocks {	
        width: 700px
    }
}

@media screen and (max-width: 775px) {
    .feedback__blocks {	
        width: 708px
    }
}

@media screen and (max-width: 768px) {
    .feedback__blocks {	
        width: 700px
   
    }
}



@media screen and (max-width: 425px) {
    .feedback__blocks {	
        width: 288px;
   
    }
}


.feedback__selects {
    display: flex;
    width: 440px;
    justify-content: space-between;
}

@media screen and (max-width: 425px) {
    .feedback__selects {	
        flex-direction: column;
    }
}

.select__block {
    padding-left: 24px;
    width: 215px;
    height: 48px;
    background: #FFFFFF;
    box-shadow: 0px 6px 29px rgba(15, 16, 17, 0.05);
    border-radius: 5px;
}

@media screen and (max-width: 425px) {
    .select__block {	
        width: 288px;
        margin-bottom: 10px
    }
}



.feedback__leaveReview_button {
    position: relative;
    border: 1px solid #1373E5;
    box-sizing: border-box;
    border-radius: 40px;
    height: 48px;
    width: 187px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    align-items: center;
    color: #1373E5;
    padding-bottom: 5px;
}

@media screen and (max-width: 425px) {
    .feedback__leaveReview_button {	
        display: none;
    }
}



.feeds {
    display: flex;
    margin-top: 30px;
    width: 100%;

}

@media screen and (max-width: 1200px) {
    .feeds {	
      width: 95%;
    }
}


@media screen and (max-width: 1024px) {
    .feeds {	
       flex-direction: column-reverse;
    }
}



.feeds__cards {
    display: flex;
    flex-direction: column;
    margin: auto;
}

@media screen and (max-width: 1024px) {
    .feeds__cards  {
        padding-top: 150px;	
    }
}


@media screen and (max-width: 425px) {
    .feeds__cards  {
        padding-top: 200px;	 
    }
}


.feedback__card {
    position: relative;
    background: #FFFFFF;
    box-shadow: 0px 6px 29px rgba(15, 16, 17, 0.05);
    border-radius: 5px;
    padding: 30px 30px 0px 30px;
    width: 770px;
    height: 304px;
    margin-bottom: 10px;
    }
    
    @media screen and (max-width: 1280px) {
        .feedback__card {	
            width: 680px;
        }
    }
    

    
    @media screen and (max-width: 768px) {
        .feedback__card {	
            width: 650px;
        }
    }
    
    @media screen and (max-width: 425px) {
        .feedback__card {
            padding: 24px 20px 0px 20px;	
            width: 288px;
            height: 467px;    
      }
    }
    
    
    .feedback__card-image {
      position: relative;
    }
   
    
    .feedback__card-buttons {
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
    }
    
    
    @media screen and (max-width: 425px) {
        .feedback__card-buttons {	
            margin-top: 140px;
            width: 200px;
        }
    }
          

    .feedback-card {
        position: absolute;
        left: 20px;
        box-shadow: 0px 6px 29px rgba(15, 16, 17, 0.05);
        border-radius: 5px;
        background-color: #FFFFFF;
        height: 625px;
        width: 370px;
    }
    
    
    
    
    