
    
    .feedback__card-messages {
        position: relative;
        display: flex;
        margin-top: 4px;
        margin-left: 70px;
        width: 560px;
        font-family: 'Montserrat', Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;  
        align-items: center;
        color: #87919C;
    }
    
    @media screen and (max-width: 768px) {
        .feedback__card-messages {	
            margin-right: 0px;
        
        }
    }
    
    @media screen and (max-width: 425px) {
        .feedback__card-messages {	
           flex-direction: column;
           margin-left: -60px;
           margin-right: 0px;
           width: 350px;
        }
    }
    
    
    
    
    @media screen and (max-width: 425px) {
        .feedback__card-message {	
            display: none;
        }
    }
    
    .feedback__card-type {
        font-family: 'Montserrat', Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        align-items: center;
        color: #42464B;
        margin-left: 33px;
    }
    
    @media screen and (max-width: 768px) {
        .feedback__card-type {	
            margin-left: 15px;
        }
    }
    
    @media screen and (max-width: 425px) {
        .feedback__card-type {	
            margin-left: 120px;
            margin-bottom: 20px;
        }
    }