 
    
    .feedback__card-grid {
        position: relative;
        display: grid;
        grid-template-rows: 1fr fr;
        grid-template-columns: 1fr 15fr;
        grid-gap: 1vw;
        margin-top: 15px;
    }
    
    .feedback__card-plus {
     margin-top: 7px;
    }
    
    .feedback__card-link {
        margin-left: 50px;
    }
    
    @media screen and (max-width: 768px) {
        .feedback__card-link  {	
            margin-left: 30px;
    }
    }
    
    @media screen and (max-width: 425px) {
        .feedback__card-link  {	
            margin-top: -45px;
            margin-left: 200px;
    
    }
    }
    
    .feedback__card-text {
        width: 675px;
        height: 84px;
        font-family: 'Montserrat', Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 28px;
        color: #42464B;
        overflow: hidden
    }
    
    @media screen and (max-width: 768px) {
        .feedback__card-text {	
            width: 600px;
        }
    }
    
    @media screen and (max-width: 425px) {
        .feedback__card-text {	
            width: 270px;
        }
    }
    
    
    .feedback__card-text2 {
        width: 675px;
        height: 20px;
        font-family: 'Montserrat', Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 28px;
        color: #42464B;
        overflow: hidden
    }
    
    @media screen and (max-width: 768px) {
        .feedback__card-text2 {
            height: 20px;	
            width: 600px;
            font-size: 14px;
            line-height: 24px;
        }
    }
    
      @media screen and (max-width: 425px) {
        .feedback__card-text2 {	
            height: 50px;
            width: 270px;
        }
    }
     