@import url(./feeds/feeds.css);
@import url(./raiting/raiting.css);
@import url(./footer/footer.css);
@import url(./feeds/feedback__main.css);


body {
    background-color: #E5E5E5;
}


.feedback {
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 1170px;
}

@media screen and (max-width: 1024px) {
    .feedback {	
        width: 964px;
    }
}

@media screen and (max-width: 768px) {
    .feedback {	
        width: 708px;
    }
}

@media screen and (max-width: 425px) {
    .feedback {	
        width: 365px;
    }
}


