

.feedback__raiting {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 6px 29px rgba(15, 16, 17, 0.05);
    border-radius: 5px;
    width: 282px;
    height: 625px;
    margin-left: 30px;
    padding: 33px 44px 0px 44px;

}

@media screen and (max-width: 1200px) {
    .feedback__raiting {
        margin-left: 10px;
    }
}

@media screen and (max-width: 1024px) {
    .feedback__raiting {
        margin: auto;
        width: 680px;
        height: 437px;
    }
}

@media screen and (max-width: 768px) {
    .feedback__raiting {
        margin: auto;
        width: 620px;
        height: 437px;
    }
}

@media screen and (max-width: 425px) {
    .feedback__raiting {
        padding: 20px 15px 0px 15px;
        width: 282px;
        height: 625px;
    }
}


.raiting-name {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1024px) {
    .raiting-name {	
        margin-left: 180px;
    }
}

@media screen and (max-width: 425px) {
    .raiting-name {	
        margin-left: 0px;
    }
}



.raiting-main {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1024px) {
    .raiting-main {	
        flex-direction: row-reverse;
        align-items: center;
 
    }
}

@media screen and (max-width: 425px) {
    .raiting-main {	
        flex-direction: column;
    }
}


.raiting-card {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #0F1011;
    margin-top: 0px;
}

@media screen and (max-width: 1024px) {
    .raiting-card {	
        margin-bottom: 0px;
    }
}



@media screen and (max-width: 1024px) {
    .feedback__text {	
     position: absolute;
     top: 50px
    }
}



.raiting-digits {
    display: flex;
}

.raiting-digit-main {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 50px;
line-height: 52px;
align-items: center;
text-align: center;
color: #0F1011;
}

.raiting-digit-second {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 52px;
align-items: center;
text-align: center;
color: #0F1011;
margin-top: 10px;
}


.raiting-stars {
    width: 162px;
}

.raiting-feed {
    margin-top: 25px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 22px;
    text-align: center;
    color: #87919C;
}

.scales-colors {
    display: flex;
}

.raiting-scales-text {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    margin-bottom: 0px;
    color: #0F1011;
}

.scales-digit {
    margin-left: 11px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #0F1011;

}