.footer__bottom {
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 181px;
    height: 48px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    align-items: center;
    text-align: center;
    color: #1373E5;
    border: 1px solid #1373E5;
    box-sizing: border-box;
    border-radius: 40px;
    padding-left: 20px;
    padding-right: 20px;

}

.bottom__show {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    align-items: center;
    text-align: center;
    color: #1373E5;
}

.bottom__digit {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    align-items: center;
    text-align: center;
    color: #1373E5;
}