@import "./header.css";
@import "./main.css";
@import "./tioga.css";
@import "./about.css";
@import "./footer.css";
@import "./normalize.css";
@import "../vendor/fonts.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0;
  max-width: 1920px;
}


.backgroundHeader {
  background: url(../images/background.png);
  height: 1065px;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1280px) {
  .backgroundHeader {
    background: url(../images/background1280.png);
  }
}

@media screen and (max-width: 425px) {
  .backgroundHeader {
    background: url(../images/background425.png);
  }
}


.block {
  width: 1183px;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .block {
    width: 90%;
  }
}

@media screen and (max-width: 425px) {
  .block {
    width: 95%;
  }
}
